.LoginForm, .SignupForm {
    padding: 30px 10px;
}

@media all and (min-width: 768px) {
    .LoginForm, .SignupForm {
      padding: 60px 0;
    }
  
    .LoginForm form, .SignupForm form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  